{% extends "includes/section.html" %}

{% block id %}about{% endblock %}

{% block title %}About{% endblock %}

{% block content %}<span style="font-size: larger; font-weight: bold;">OpenSourceWatershed</span> is a project aimed at understanding the relationship between distributions (downstream) and the individual software components (upstream).  It is the basis for a larger study of distributions and their evolution.  It is <strong>distrology</strong>.
<br><br>
The aggregate analysis is done over a variety of packages.  The three forms of analysis are percent latest, the average number of newer releases per package and the time since the oldest new release.  In other words the lag is the amount of time a distro had to move to a newer package.
<br><br>
There are errors in the database which you can help fix.  Just <a href="mailto:oswatershed@googlegroups.com">email the mailing list</a> if you find one. Join <a href="https://groups.google.com/d/forum/oswatershed">the GoogleGroup</a> to get notified of improvements to the site. Individual packages can be tracked using RSS feeds by clicking the feed icon next to each package name. For more information about the process behind this analysis please read <a href="http://tannewt.org/docs/shawcroft-thesis.pdf">my senior thesis</a> or <a href="mailto:scott.shawcroft@gmail.com">email me</a>.
{% endblock %}
