{% extends "includes/section.html" %}

{% block id %}future{% endblock %}

{% block title %}Future{% endblock %}

{% block content %}Much more work will happen to OSWatershed in the future.  The most urgent addition is distro pages which will feature data on multiple branches.  User accounts are also coming in the future.  Users will be able to add more data into the database and configure their own package groups to use for analysis.  Ideally, spreading the work over a larger number of users (crowd-sourcing) will make the data scope more manageable.  To get Scott working on these new feature <a href="mailto:scott.shawcroft@gmail.com">email him</a> and let him know you are waiting!{% endblock %}
