{% extends "includes/section.html" %}

{% block id %}oscon{% endblock %}

{% block title %}OSCON{% endblock %}

{% block content %}<a href="http://conferences.oreilly.com/oscon">
<img style="float:right;" src="http://assets.en.oreilly.com/1/event/27/oscon2009_banner_speaking_210x60.gif" width="210" height="60"  border="0"  alt="OSCON 2009" title="OSCON 2009"  />
</a>
Scott is speaking at OSCON about OSWatershed!  His presentation, "Tracking Package Freshness", is at <a href="http://en.oreilly.com/oscon2009/public/schedule/detail/8055"><strong>2:35pm on Wednesday in Ballroom A2</strong></a>.{% endblock %}
