{% extends "includes/section.html" %}

{% block id %}what{% endblock %}

{% block title %}What{% endblock %}

{% block content %}<div class="right subsection">
          If Subversion's latest releases are:<br>
03/20/09 1.6.0<br>
02/27/09 1.5.6<br>
12/22/08 1.5.5<br>
10/24/08 1.5.4<br>
<br>
And say gentoo stable is at 1.5.5 on 03/23/09.<br>
<br>
Then the lag is 3/23/09-2/27/09, the time between now and the oldest new release.<br>
<br>
Thus, the lag is 24 days.
        </div>
      Much of the analysis of the gathered data is centered around a notion of downstream lag.  That is, for any given point in time a distribution's package version lags behind by the time difference between now and the oldest new release.
      <br><br>
      Around the site you will find many graphs that display the downstream lag over time.  Most average the lag over a number of packages to gather a greater sense of a distribution's tendencies.  The graph below is the average lag for 54 packages for each current branch of the 8 distributions.
      <br><hr>
<img style="margin-left auto; margin-right: auto;" src="http://static.oswatershed.org/gen/overview.png">
{% endblock %}
