{% extends "includes/section.html" %}

{% block id %}who{% endblock %}

{% block title %}Who{% endblock %}

{% block content %}This project is the work of Scott Shawcroft under the mentoring of David Notkin at the University of Washington Computer Science and Engineering Department.  Online, he goes by tannewt and has done a number of other projects.  Also, in his short career so far he has interned at Creative Commons and Google.
<br><br>
<a href="http://conferences.oreilly.com/oscon">
<img src="http://assets.en.oreilly.com/1/event/27/oscon2009_banner_speaking_120x240.gif" width="120" height="240"  border="0"  alt="OSCON 2009" title="OSCON 2009"  />

</a>
<img src="http://static.oswatershed.org/me.png">
<img src="http://static.oswatershed.org/totem.png">
{% endblock %}
