{% load humanize %}
<html>
  <head>
    <title>{% block title %}Open Source Watershed{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://static.oswatershed.org/style.css" />
    {% block header %}{% endblock %}
    <script type="text/javascript">
function searchWatershed()
{
  var s=document.getElementById("search").value;
  if (s!='') {
    location.pathname='/search/'+s;
  }
}
    </script>
    <meta name="google-site-verification" content="nWBA8BMtsMpB_iHTwPxwANINaKD4ahdtlHVxZPLUrc8" />
    <meta name="msvalidate.01" content="5D18E3A3DEE1737FB6B8BF8BCB76788E" />
  </head>
  <body>
    <div class="center_column">
      {% block bar %}<div id="bar"><div class="stat">{{ stats.distro_count|intcomma }} Distributions</div><div class="stat">{{ stats.package_count|intcomma }} Total Packages</div><div class="stat">{{ stats.release_count|intcomma }} Releases</div><div class="stat">{{ stats.upstream_count|intcomma }} Upstream Packages</div><div class="search right"><input id="search" type="text" name="search" onKeyUp="if (event.keyCode == 13) { searchWatershed(); }"/><a onClick="searchWatershed();">Search</a></div></div>{% endblock %}
      {% block logo %}<div id="logo">
        <a href="/"><img src="http://static.oswatershed.org/logo.png" /></a>
      </div>
      {% endblock %}
      {% block sidebar %}
      <div class="right sidebar" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; padding-top: 17px;">
      {% block right %} {% endblock %}
      </div>
      {% endblock %}
      {% block contentblock %}
      <div class="content" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
      {% block content %} No Content {% endblock %}
      </div>
      {% endblock %}
      {% block footer %}
      <hr style="clear: both;">
      <center>©2009 Scott Shawcroft | <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">CC-by 3.0 US</a> - <a href="mailto:scott.shawcroft@gmail.com">contact</a> - <a href="http://github.com/tannewt/open-source-watershed/tree/master">git</a> - <a href="http://trac.oswatershed.org">trac</a></center>
      {% endblock %}
    </div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3879075-3");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
