{% load humanize %}
<html>
  <head>
    <title>{% block title %}Open Source Watershed{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://static.oswatershed.org/style.css" />
    {% block header %}{% endblock %}
    <script type="text/javascript">
function searchWatershed()
{
  var s=document.getElementById("search").value;
  if (s!='') {
    location.pathname='/search/'+s;
  }
}
</script>
  </head>
  <body>
    <div class="center_column">
      {% block bar %}<div id="bar">{{ stats.distro_count|intcomma }} Distributions &nbsp;&nbsp;&nbsp;  {{ stats.package_count|intcomma }} Total Packages &nbsp;&nbsp;&nbsp; {{ stats.release_count|intcomma }} Releases &nbsp;&nbsp;&nbsp; {{ stats.upstream_count|intcomma }} Upstream Packages<span class="search"><input id="search" type="text" name="search" onKeyUp="if (event.keyCode == 13) { searchWatershed(); }"/><a onClick="searchWatershed();">Search</a></span></div>{% endblock %}
      {% block logo %}<div id="logo">
        <a href="/"><img src="http://static.oswatershed.org/logo.png" /></a>
      </div>
      {% endblock %}
      {% block sidebar %}
      <div class="right sidebar" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; padding-top: 17px;">
      {% block right %} {% endblock %}
      </div>
      {% endblock %}
      {% block contentblock %}
      <div class="content" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
      {% block content %} No Content {% endblock %}
      </div>
      {% endblock %}
    </div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3879075-3");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
