{% extends "base.html" %}

{% block title %}Open Source Watershed - {{ name }}{% endblock %}

{% block header %}<link rel="alternate" type="application/rss+xml" href="http://oswatershed.org/pkg/{{ name }}/rss.xml" title="{{ name }} releases rss feed">{% endblock %}

{% block sidebar %}{% endblock %}

{% block contentblock %}
{% include "includes/package_info.html" %}
{% include "includes/package_stats.html" %}
{% include "includes/package_history.html" %}
{% include "includes/package_badge_section.html" %}
{% endblock %}
